<%= order_form.fields_for :line_items, line_item do |item_form| %>
  <tr>
    <td class="col-xs-2">
      <%= link_to potepan_line_item_path(line_item.id), { method: :delete, class: "close" } do %>
        <span aria-hidden="true">&times;</span>
      <% end %>
      <span class="cartImage"><%= image_tag line_item.variant.display_image.attachment(:small) %></span>
    </td>
    <td class="col-xs-4"><%= line_item.variant.product.name %></td>
    <td class="col-xs-2"><%= line_item.display_price %></td>
    <td class="col-xs-2"><%= item_form.number_field :quantity, min: 0, class: "line_item_quantity" %></td>
    <td class="col-xs-2"><%= line_item.display_total %></td>
  </tr>
<% end %>
