<%= render 'light_section' %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix cartListWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cartListInner">
          <% if @line_items.any? %>
            <%= render 'order_form', order: @order, line_items: @line_items %>
          <% else %>
            <p>カートは空です。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

