<li>
  <%= link_to potepan_category_path(color: color.name) do %>
    <%= color.presentation %>
    <span>(<%= Spree::Product.in_taxon(Spree::Taxon.find(params[:id])).with(color.name).count %>)</span>
  <% end %>
</li>
