<%= form_with url: potepan_category_path(taxon.id), method: :get do |form| %>
  <%= select_tag :sort, options_for_select(
    { "新着順": "NEW_PRODUCTS",
    "安い順": "LOW_PRICE",
    "高い順": "HIGH_PRICE",
    "古い順": "OLD_PRODUCTS" },
    selected: params[:sort] ),
    { class: "select-drop", onchange: "this.form.submit()" }
  %>
<% end %>