<li>
  <%= link_to potepan_category_path(size: size.name) do %>
    <%= size.presentation %>
    <span>(<%= Spree::Product.in_taxon(Spree::Taxon.find(params[:id])).with(size.name).count %>)</span>
  <% end %>
</li>

