<%= form_with url: potepan_orders_path, method: :post, local: true do |form| %>
  <% if product.variants.any? %>
    <span class="quick-drop">
      <%= select_tag :variant_id, 
        options_from_collection_for_select(product.variants, :id, :options_text), 
        class: "select-drop" %>
    </span>
  <% else %>
    <%= hidden_field_tag :variant_id, product.master.id %>
  <% end %>
  <span class="quick-drop resizeWidth">
    <%= select_tag :quantity, options_for_select((1..5)), class: "select-drop" %>
  </span>
  <div class="btn-area">
    <%= button_tag type: "submit", class: "btn btn-primary btn-block" do %>
      <i class="fa fa-angle-right" aria-hidden="true"></i>カートへ入れる
    <% end %>
  </div>
<% end%>


