<% provide(:title, "Results by Search ".concat(params[:search])) %>
<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2><%= params[:search] %></h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <%= link_to "Home", potepan_root_path %>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
        <div class="col-sm-3 col-xs-12">
          <div class="productBox">
            <%= link_to potepan_product_path(product.id) do %>
              <div class="productImage clearfix">
                <%= image_tag product.display_image.attachment(:large) %>
              </div>
              <div class="productCaption clearfix">
                <h5><%= product.name %></h5>
                <h3><%= product.display_price %></h3>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<%= render 'potepan/home/light_section' %>