<%= form_with url: search_potepan_products_path, id: "search-form", method: :get do |form| %>
  <li>
    <span class="input-group">
      <%= text_field_tag :search, "", class: "form-control searchbox", placeholder: "Search…", aria_describedby: "basic-addon2", autocomplete: "off" %>
      <span class="input-group-addon addPointer", id="basic-addon2", onclick="document.getElementById('search-form').submit();">検索</span>
    </span>
  </li>
<% end %>
